<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu">
      <li class="menu-text docs__site-title">Ember Redux Data</li>
    </ul>
  </div>
</div>
<div class="row">
  
</div>
